a.listWorks__item(
  href="",
  role="listitem",
  itemprop="item",
  data-project="{{project}}",
  data-amountImgs="{{amountImgs}}"
)
  li.project(itemprop="")
    h2.project__name {{name}}
    .project__projectBody.projectBody
      img.projectBody__img(
        src="img/{{short_name}}.jpg",
        alr="{{name}}",
        role="img",
        itemprop="image"
      )
      p.projectBody__description {{description}}