.for__tiles.tiles
  ul.tiles__tilesList.tilesList
      li.tilesList__tile.tile  
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name ресторанов
          p.tile__description Some description is here
      li.tilesList__tile.tile
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
        )
          h3.tile__name спортзалов
          p.tile__description Some description is here
      li.tilesList__tile.tile
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name отелей
          p.tile__description Some description is here
      li.tilesList__tile.tile  
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name офисов
          p.tile__description Some description is here
      li.tilesList__tile.tile
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name залов
          p.tile__description Some description is here
      li.tilesList__tile.tile
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name холлов
          p.tile__description Some description is here
      li.tilesList__tile.tile  
        a.tile__option(href="../firms-snippet/firms-snippet.html")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name квартир
          p.tile__description Some description is here