a.tilesList__tile.tile(
  href="#",
  data-cat="{{category}}",
  data-firm="{{firm}}",
  data-col="{{collection}}",
  role="listitem",
  itemprop="item"
)
  li.tile__option(
  )
    img.tile__img.img-responsive.center-block(
      src="img/{{short_name}}.jpg",
      alt="{{name}}",
      itemprop="image"
    )
    h3.tile__name(itemprop="name") {{name}}
    p.tile__description(itemprop="description") {{description}}