.covers__tiles.tiles
  ul.tiles__tilesList.tilesList
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name Ковровая плитка
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
        )
          h3.tile__name тканные пвх покрытия
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name дизайн плитка
          p.tile__description Some description is here
      a.tilesList__tile.tile  (href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name спортивные покрытия
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name каучуковые покрытия
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name грязезащитные покрытия
          p.tile__description Some description is here
      a.tilesList__tile.tile  (href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name негорючий текстиль
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name наливные полы
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../category")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name ковры ручной работы
          p.tile__description Some description is here