.firm__tiles.tiles
  ul.tiles__tilesList.collection
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
        )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile  (href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile  (href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../collection-snippet/collection-snippet.html")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name collection
          p.tile__description Some description is here