ul.firms__firmsList.firmsList(
  role="list",
  itemscope,
  itemtype="https://schema.org/Thing"
)
  li.firmsList__firm.firm.firm_2tec2(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_2tec2(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_altro(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_altro(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_amtico(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_amtico(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_balsan(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_balsan(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_forbo(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_forbo(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_carpetconcept(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_carpetconcept(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_ege(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_ege(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_royalMosa(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_royalMosa(
      role="img",
      itemprop="image"  
    )
  li.firmsList__firm.firm.firm_vescome(
    role="listitem",
    itemprop="item"
  )
    figure.firm__img.firm__img_vescome(
      role="img",
      itemprop="image"  
    )