.footer__signature.signature(
  itemsope,
  itemtype="http://schema.org/Thing"
)
  span.signature__did Designed and Coded
  br
  a.signature__author(
    href="https://wishez.github.io/portfolio/build/",
    itemprop="url",
    rel="Тот-кто-разработал-дизайн-и-написал-код.",
    itemsope,
    itemtype="http://schema.org/Person"
  ) by 
    span(itemprop="name") Filipp Zhuravlev
  