ul.collectionSlider__listTiles
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  a.listTiles__tile.tile(href)
    li.tile__sample
      img.sample__img(
        src="{{url}}", 
        alt="{{alt}}"
      )
      span.sample__number 123456
      p.sample__description
  