.offers__options.options#options
  ul.options__optionsList.optionsList
    a.optionsList__refer(
      href="#", 
      data-cat="DT CT CC CL"
    )
      li.optionsList__option.option.optionsList__option-flooring
        .option__variant напольные покрытия
    a.optionsList__refer(
      href="#", 
      data-cat="FC"
    )
      li.optionsList__option.option.optionsList__option-ceilingSystems
        .option__variant потолочные системы
    a.optionsList__refer(
      href="#", 
      data-cat="WC"
    )
      li.optionsList__option.option.optionsList__option-wallCoverings
        .option__variant настенные покрытия
    a.optionsList__refer(
      href="", 
      data-cat="T"
    )
      li.optionsList__option.option.optionsList__option-textiles
        .option__variant текстиль
        