.firms__tiles.tiles
  ul.tiles__tilesList.tilesList
      a.tilesList__tile.tile(href="../firm-snippet")  
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name balsan
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
        )
          h3.tile__name ege
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name forbo
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")  
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name 2tec2
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name vescom
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name royal mosa
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")  
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name jacaranda
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name altro
          p.tile__description Some description is here
      a.tilesList__tile.tile(href="../firm-snippet")
        li.tile__option
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name imperial carpets
          p.tile__description Some description is here