.covers__tiles.tiles
  ul.tiles__tilesList.tilesList
      li.tilesList__tile.tile  
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name Ковровая плитка
          p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
        )
        h3.tile__name тканные пвх покрытия
        p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name дизайн плитка
          p.tile__decritption
      li.tilesList__tile.tile  
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name Ковровая плитка
          p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name тканные пвх покрытия
          p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name дизайн плитка
          p.tile__decritption
      li.tilesList__tile.tile  
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name Ковровая плитка
          p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name тканные пвх покрытия
          p.tile__decritption
      li.tilesList__tile.tile
        a.tile__option(href="#")
          img.tile__img(
            src="#",
            alt=""
          )
          h3.tile__name дизайн плитка
          p.tile__decritption