doctype
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      http-equiv="X-UA-Compatible",
      content="IE=edge"
    )
    title Smart Tiles
    link( 
      href="css/print.css",
      media="print",
      rel="stylesheet",
      type="text/css"
    )
    <!--[if IE]>
      <link href="css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    <![endif]-->
    style.
      .header__navbar {
        background-color: transparent !important;
        border: 0 !important;
      }
      
      @media (max-width: 460px) {
        .header__navbar .navbar__navContent {
            display:-webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap
        }
      }
      .navContent__logo {
          width: 32.20339%;
          float: left;
          margin-right: 1.69492%
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .navContent__logo {
              width:40.67797%;
              float: left;
              margin-right: 1.69492%
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navContent__logo {
              width:74.57627%;
              float: left;
              margin-right: 1.69492%
          }
      }

      @media (max-width: 769px) {
          .navContent__logo {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              margin: 0!important
          }
      }

      @media (max-width: 460px) {
          .navContent__logo {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              min-height: 170px
          }
      }

      @media (max-width: 769px) {
          #logo {
              margin:0 auto;
              width: 100%
          }
      }

      #logo:after,#logo:before {
          content: " ";
          display: table
      }

      #logo:after {
          clear: both
      }

      @media (max-width: 460px) {
          .logo {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0
          }
      }

      .footer__logo,.logo__name {
          font-size: 4.375rem;
          color: #76bdff;
          letter-spacing: 11px;
          white-space: nowrap;
          position: relative
      }

      .footer__logo:after,.footer__logo:before,.logo__name:after,.logo__name:before {
          content: " ";
          display: table
      }

      .footer__logo:after,.logo__name:after {
          clear: both
      }

      @media (min-width: 1200px) {
          .footer__logo,.logo__name {
              top:26px
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .footer__logo,.logo__name {
              margin:0;
              left: 5%;
              top: 5px
          }
      }

      @media (max-width: 769px) {
          .footer__logo,.logo__name {
              margin:0 0 0 15px;
              font-size: 6.875vw;
              text-align: center
          }
      }

      @media (max-width: 460px) {
          .footer__logo,.logo__name {
              clear:both;
              font-size: 4.375rem;
              margin: 0
          }
      }

      .logo__navButton {
          margin: 0;
          position: relative;
          right: 5vw;
          top: 20px
      }

      @media (max-width: 769px) {
          .logo__navButton {
              right:22.5vw;
              top: 12vw
          }
      }

      @media (max-width: 460px) {
          .logo__navButton {
              right:40vw;
              top: 73px;
              -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
              order: 1
          }
      }

      .visible_xxs {
          display: none
      }

      @media (max-width: 460px) {
          .visible_xxs {
              display:block
          }
      }

      .navContent__navigation {
          width: 49.15254%;
          float: right;
          margin-right: 0
      }

      .navContent__navigation:after,.navContent__navigation:before {
          content: " ";
          display: table
      }

      .navContent__navigation:after {
          clear: both
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .navContent__navigation {
              width:57.62712%;
              float: right;
              margin-right: 0;
              margin-top: -50px
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navContent__navigation {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              margin-top: -30px
          }
      }

      @media (max-width: 769px) {
          .navContent__navigation {
              width:100%;
              margin: 20px 0 0!important
          }
      }

      @media (max-width: 460px) {
          .navContent__navigation {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              margin: 0;
              border-top: 0;
              position: relative;
              left: 4%;
              -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
              order: 2
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navigation__navList {
              position:relative;
              right: 36%
          }
      }

      @media (max-width: 769px) {
          .navigation__navList {
              display:-webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
              -ms-flex-pack: distribute;
              justify-content: space-around;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: 100%
          }
      }

      @media (max-width: 460px) {
          .navigation__navList {
              -webkit-box-orient:vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column
          }
      }

      .navList__navItem {
          text-align: center
      }

      @media (max-width: 460px) {
          .navList__navItem {
              width:100%
          }
      }

      .navList__navItem.active a:hover {
          color: #dfa76e!important
      }

      .navItem__refer {
          -webkit-transition: color .5s;
          transition: color .5s;
          padding: 25px 14px 10px!important;
          color: #dfa76e!important
      }

      .navItem__refer:hover {
          color: #eee!important
      }

      @media (max-width: 460px) {
          .navItem__refer {
              padding:10px!important
          }
      }

      .navItem__refer:hover {
          color: #f1dac2!important
      }

      .navigation__btnTop,.navigation__btnTop:active,.navigation__btnTop:focus {
          z-index: 999;
          padding: .5% 1%;
          position: fixed;
          bottom: 0;
          right: 5vw;
          text-align: center;
          color: #76bdff!important;
          background-color: #3f3c39;
          -webkit-transition: color .5s;
          transition: color .5s;
          font-size: 1.375em;
          line-height: 220%
      }

      .navigation__btnTop:hover {
          color: #dceeff!important
      }

      .navigation__btnTop:focus {
          text-decoration: none
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navigation__btnTop,.navigation__btnTop:active,.navigation__btnTop:focus {
              font-size:1.375em
          }
      }

      @media (max-width: 769px) {
          .navigation__btnTop,.navigation__btnTop:active,.navigation__btnTop:focus {
              font-size:1.375em;
              padding: .5% 2%
          }
      }

      @media (max-width: 460px) {
          .navigation__btnTop,.navigation__btnTop:active,.navigation__btnTop:focus {
              font-size:1.125em
          }
      }

      .navContent__callBlock {
          width: 15.25424%;
          float: left;
          margin-right: 1.69492%;
          padding: 25px 0 0;
          text-align: center;
          position: relative;
          left: 65px
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .navContent__callBlock {
              width:40.67797%;
              float: left;
              margin-right: 1.69492%;
              left: -2%;
              padding-top: 35px
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navContent__callBlock {
              width:23.72881%;
              float: right;
              margin-right: 0;
              padding: 0;
              top: 5px;
              margin-right: 10%
          }
      }

      @media (max-width: 769px) {
          .navContent__callBlock {
              width:40.67797%;
              float: left;
              margin-right: 1.69492%;
              padding: 0;
              margin: 10px 0;
              left: 5%
          }
      }

      @media (max-width: 460px) {
          .navContent__callBlock {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              left: 0;
              margin: 0 0 20px;
              -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
              order: 3
          }
      }

      .callBlock__call:hover {
          text-decoration: none
      }

      .callBlock__call:focus {
          text-decoration: none
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .callBlock__call>* {
              display:inline-block
          }
      }

      .call__icon {
          color: #69ff54;
          margin-top: 10px
      }

      .call__devider {
          margin: 5px 0 10px
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .call__devider {
              -webkit-transform:rotate(90deg);
              transform: rotate(90deg);
              width: 40px
          }
      }

      @media (max-width: 769px) {
          .call__devider {
              width:60%;
              margin: 5px auto;
              min-width: 160px;
              max-width: 160px
          }
      }

      .call__tel {
          font-size: 1.25em;
          color: #dfa76e
      }

      .call__tel i.fa-volume-control-phone {
          -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg)
      }

      .navContent__search {
          width: 40.67797%;
          float: right;
          margin-right: 0;
          font-family: Comfortaa,cursive;
          color: #3f3c39;
          margin-top: 1%
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .navContent__search {
              width:49.15254%;
              float: right;
              margin-right: 0
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .navContent__search {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0
          }
      }

      @media (max-width: 769px) {
          .navContent__search {
              width:100%;
              float: left;
              margin-left: 0;
              margin-right: 0;
              margin-right: 0
          }
      }

      @media (max-width: 460px) {
          .navContent__search {
              -webkit-box-ordinal-group:5;
              -ms-flex-order: 4;
              order: 4
          }
      }

      .searchForm__inputSearch {
          padding: 2px 0 2px 2%;
          border: 0;
          width: 100%
      }

      .searchForm__inputSearch::-webkit-input-placeholder {
          color: #c4c4c4
      }

      @media (max-width: 460px) {
          .searchForm__inputSearch {
              font-size:.6875em
          }
      }

      .searchForm__btnSearch {
          font-size: .875em;
          padding: 2px 7px;
          border: 0;
          background: #76bdff;
          position: relative;
          -webkit-transition: background-color 1s ease;
          transition: background-color 1s ease;
          vertical-align: middle
      }

      .searchForm__btnSearch:active {
          bottom: -3px
      }

      .searchForm__btnSearch:hover {
          background-color: #74ff86
      }

      @media (max-width: 769px) {
          .searchForm__btnSearch {
              float:right;
              margin-right: 21vw
          }
      }

      @media (max-width: 460px) {
          .searchForm__btnSearch {
              margin-right:20px
          }
      }

      .mainContent__foundCollections {
          background-color: #eee
      }

      .mainContent__foundCollections .heading {
          color: #3f3c39
      }

      .mainContent__foundFirms .heading {
          color: #952d2c
      }

      .mainContent__foundCategories,.mainContent__foundCollections,.mainContent__foundFirms {
          padding-bottom: 5.6%!important
      }

      .mainContent__foundCategories:after,.mainContent__foundCategories:before,.mainContent__foundCollections:after,.mainContent__foundCollections:before,.mainContent__foundFirms:after,.mainContent__foundFirms:before {
          content: " ";
          display: table
      }

      .mainContent__foundCategories:after,.mainContent__foundCollections:after,.mainContent__foundFirms:after {
          clear: both
      }

      .no-matches {
          margin-top: 10%;
          font-family: Comfortaa,cursive;
          font-size: 1.875em;
          line-height: 1.33333em;
          color: #dfa76e;
          position: relative
      }

      .not-found-gif {
          padding-bottom: 300px
      }

      .twitter-typeahead {
          margin: 0 9% 0 19px;
          width: 70%
      }

      @media (min-width: 769px) and (max-width:991px) {
          .twitter-typeahead {
              width:45%;
              margin-left: 3.8%;
              margin-right: 5.8%
          }
      }

      @media (max-width: 769px) {
          .twitter-typeahead {
              width:45%
          }
      }

      @media (max-width: 460px) {
          .twitter-typeahead {
              margin:0;
              width: 65%
          }
      }

      .tt-dataset {
          background-color: #eee
      }

      .search__caption {
          color: #ce5a59;
          border-bottom: 1px solid #dfa76e;
          font-weight: 700;
          padding: 1% .5%
      }

      .tt-suggestion {
          cursor: pointer;
          color: #952d2c;
          padding: 1% .5%;
          -webkit-transition: color .5s;
          transition: color .5s
      }

      .tt-suggestion:hover {
          color: #ce5a59
      }

      .tt-menu {
          width: 100%
      }

      .footer__info {
          text-align: left;
          color: #76bdff;
          width: 74.57627%;
          float: left;
          margin-right: 1.69492%
      }

      @media (min-width: 1200px) {
          .footer__info {
              width:32.20339%;
              float: left;
              margin-right: 1.69492%
          }
      }

      @media (max-width: 769px) {
          .footer__info {
              width:100%;
              text-align: center
          }
      }

      .content__address,.content__email,.content__tel {
          color: #108cff
      }

      .content__address {
          display: inline-block
      }

      @media (max-width: 769px) {
          .content__telLabel {
              margin-left:-60px
          }
      }

      @media (max-width: 769px) {
          .content__addressLabel {
              margin-left:31px
          }
      }

      .footer__logo {
          font-family: Gagalin,Aria,serif;
          top: 0;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0
      }

      @media (min-width: 1200px) {
          .footer__logo {
              width:49.15254%;
              float: left;
              margin-right: 1.69492%
          }
      }

      .footer__signature {
          width: 15.25424%;
          float: right;
          margin-right: 0;
          color: #76bdff
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .footer__signature {
              width:23.72881%
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .footer__signature {
              width:23.72881%
          }
      }

      @media (max-width: 769px) {
          .footer__signature {
              width:100%
          }
      }

      .signature__author {
          color: #108cff!important
      }

      .footer {
          width: 100%;
          height: 192px;
          position: absolute;
          bottom: 0;
          background-color: #1d1610;
          padding-top: 4.0625%;
          font-family: Comfortaa,cursive;
          text-align: center
      }

      .footer a {
          -webkit-transition: color 1s;
          transition: color 1s
      }

      .footer a:hover {
          color: #76bdff!important
      }

      @media (min-width: 992px) and (max-width:1199px) {
          .footer__info,.footer__signature {
              margin-top:20px
          }
      }

      @media (min-width: 769px) and (max-width:991px) {
          .footer__info,.footer__signature {
              margin-top:20px
          }
      }
  body
    // Header
    include blocks/header/header.pug
    // Main Content
    include blocks/main/main.pug
    // Footer
    include blocks/footer/footer.pug   
    
    script(aync, src="js/main.js")
    script(async, src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")
link(
  rel="stylesheet",
  href="css/main.css"
)
link(
  href="css/screen.css", 
  media="screen",
  rel="stylesheet",
  type="text/css"
)